/* * {
    margin: 0;
    padding: 0;
    /* font: inherit; */
/* } */ 
/* 
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
*/

/* img {
    max-width: 100%;
    display: block;

}  */

:root {
    --background: rgba(85, 214, 170, .85);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background: #222; */
    font-family: sans-serif;
    font-weight: 400;
}

.img-content {
    height: 100vh;
    background-image: url(recipes/images/pexels-dodo-phanthamaly-916406.jpg);
    /* background-color: #333; */
    /* background-blend-mode: multiply; */
    background-repeat: no-repeat;
    /* display: grid; */
    /* place-items: center; */
    padding: 20em;
    /* outline: 2px solid black; */
    background-size: cover;
    
}

/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;               /*This ensures the header is always on top of everyhing else */
    width: 100%;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    /* display: none; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform  400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}


.nav-toggle:checked ~ nav {
    /* display: block; */
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.image-two {
    height: 100vh;
    background-image: url(recipes/images/pexels-pixabay-235925.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    padding: 20em;
    background-position: center;
}


.content {
    display: grid;
    gap: 1rem;
    
}

.content-one {
    padding: 2em;
}

.content-two {
    padding: 2em;

}

.content-three {
    padding: 2em;

}

.container {
    padding: 5em;
    margin: 3em;
}



@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .header {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        /* bottom: -.75em; */
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        /* transform-origin: right; */
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }


    .content {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        font-size: 2.1ch;
        padding: 5em;
    }

   


}






















