:root {
    --background: rgba(85, 214, 170, .85);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
}


/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;               /*This ensures the header is always on top of everyhing else */
    width: 100%;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    /* display: none; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform  400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}


.nav-toggle:checked ~ nav {
    /* display: block; */
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* The content from starts here */

.img-content {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url(recipes/images/pexels-dodo-phanthamaly-916406.jpg);
    /* background-image: url(recipes/images/pexels-dodo-phanthamaly-916406.jpg); */
    background-repeat: no-repeat;
    padding: 5em;
    background-size: cover;
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.txt-container {
    top: 10em;
    right: .5em;
    position: absolute;
    font-family: 'Rampart One', cursive;
    padding: .3em;

}


.content-container {
    display: grid;
    gap: 1rem;
    padding: 0 1em 0em 1em;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-size-adjust: 100%; 
    -webkit-box-direction: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lobster', cursive; 
    
}

.txt {
    color: var(--background);
    font-family: 'Lobster', cursive;
}

.paragraph {
    font-family: 'Tilt Neon', cursive;
}

.content {
    padding: 2em;
}

.image-two {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)), url(recipes/images/pexels-pixabay-247597.jpg);
    /* background-image: url(recipes/images/pexels-pixabay-247597.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    padding: 1em;
    background-position: center;
}

.second-container {
    display: block;
    justify-content: center;
    padding: 5em 5em 5em 2em;
    align-items: center;
    place-items: center;
    margin: 5em 0 20em 0;
}

.material-symbols-outlined {
    font-size: 80px !important;
}



.txt-two-container{
    color: #000;
    /* width: 800px; */
    /* position: absolute; */
    /* right: 5em; */
    font-family: 'Rampart One', cursive;
}


.mission-container {
    padding: 2em;
    margin: 2em;
    font-size: 1rem;
}



/* Footer starts from here*/


footer {
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1em 0 1em;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-style: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
}

.socials a i {
    font-size: 1.1rem; 
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--background);
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: capitalize;
    opacity: .4;
    font-weight: 200;
}



/* Our products page starts here */

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),
    url(recipes/images/massimo-adami-sF5M0duT9hI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 3em;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod {
    font-family: 'Rampant One', cursive;
}



.our-prod-content {
    margin: 2em;
    /* padding: 2em; */
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.our-prod-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    position: relative;
    font-family: 'Lobster', cursive;
    color: var(--background);

}

/* .our-prod-head::after {
    content: '';
    height: 5px;
    width: 150px;
    position: absolute;
    background-color: var(--background);
    bottom: 0em;
} */

.two {
    margin-top: 0;
}

.box {
    position: relative;
    margin: .5em;
    width: 250px;
    padding: 1em;
    font-size: .9rem;
    background-color: #000;
    font-family: 'Tilt Neon', cursive;
    /* border-radius: 20px; */
    color: #ffffff;
    border: 2px solid #000;
    transition: box-shadow 150ms ease;
    
}

.box::after {
    content: 'Available';
    position: absolute;
    background-color:rgb(81, 128, 11);
    top: 0.3em;
    right: 0.3em;
    padding: .3em;
    border: 2px solid #000 ;
    border-radius: 15px;
    font-size: .8rem;
    /* display: none; */
}


.out::after {
    content: 'Out of stock';
    position: absolute;
    background-color: red;
    top: 0.3em;
    right: 0.3em;
    padding: .3em;
    border: 2px solid #000 ;
    border-radius: 15px;
    /* display: none; */
}
    
/* About us starts here */

.about-us {
    font-size: 15vw;
    background-image: url(recipes/images/pexels-pixabay-164504.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-container {
    
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}


/* Availability starts here */

.available-link {
    /* text-decoration: none; */
    color: #ec5d39;
}

.table-container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    /* padding: 0 5em 5em 0; */
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightgrey;
    background-color: #ffffff;
    text-align: left;
    overflow: hidden;
}

thead {
    box-shadow: 0 5px 10px lightgrey;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

.green {
    border-radius: 5px;
    background-color: rgb(101, 228, 101);
    padding: 0.8rem 1rem;
    text-align: center;
    color: #ffffff;
}

.red {
    border-radius: 5px;
    background-color: rgb(184, 83, 83);
    padding: 0.8rem 1rem;
    text-align: center;
    color: #ffffff;
}







@media screen and (min-width: 950px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .header {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom: -.75em;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        /* transform-origin: right; */
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .img-content {
        width: 100vw;
        font-size: 2rem;
        padding: 8em;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
         
    }

    /* .txt-container {
        background-color: red;
        top: 10em;
        right: 1em;
        position: absolute;
        font-family: 'Rampart One', cursive;
    
    } */

    .second-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        padding: 2em;
        place-items: center;
    }

    .txt-container {
        /* background-color: red; */
        width: 800px;
        position: absolute;
        right: 5em;
        font-family: 'Rampart One', cursive;
        
    }


    .content-container {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        font-size: 2.1ch;
        padding: 5em;
    }

    .material-symbols-outlined {
        /* color: #000; */
        font-size: 200px !important;
      font-variation-settings:
      'FILL' 10,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
      
    }

    .image-two {
        padding: 8em;
        font-size: 1.2rem;
        display: block;
        justify-content: right;
        text-align: left;
    }

    .image-two-content {
        /* background-color: red; */
        width: 800px;
    }

    .mission-container {
        margin: 10em;
        padding: 5em;
        justify-content: center;
        align-items: center;
        font-size: 2.1ch;
        
    }

    
    /* Our products page starts here */

    .prod {
        font-family: 'Rampant One', cursive;
    }

    .our-prod-content {
        margin: 0em 15em 0em 15em;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        font-size: 2.1ch;
        padding: 3em;
        
    }
    

    .box {
        position: relative;
        background-color: #000;
        /* border-radius: 20px; */
        font-size: 1.2rem;
        color: #ffffff;
        border: 2px solid #000;
        transition: box-shadow 150ms ease;
        
    }

    .box:hover {
        color: #000;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 20px 20px rgb(81, 128, 11);
        
    }
    

    .out:hover {
        box-shadow:  20px 20px red;
    } 

/* 

    .kingstar-pak:hover {
        color: #ffffff;
        background-color: #000;
        box-shadow: 20px 20px rgb(233, 202, 64);
    
    } */

    
    /* Availability */

    th {
        padding: 1rem 10rem;
    }


    td {
        padding: 1rem 10rem;
    }


    
   


}






















